<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SmokeTests" parallel="tests">
    <test name="IE_Tests">

        <!--Desktop-->
        <!--if test is running on local machine => set hub=local, port = null-->
        <!--if test is running remotely => set hub=localhost, port = 4444-->
        <!--if test is running in Chrome browser => set driverName=Chrome-->
        <!--if test is running in Firefox browser => set driverName=Firefox-->
        <!--if test is running in Internet Explorer browser => set driverName=IE-->

        <!--Mobile-->
        <!--if test is running remotely on mobile device set hub=127.0.0.1, driverName=Android, port = 4723 -->

        <parameter name="hub" value="localhost" />
        <parameter name="driverName" value="firefox" />
        <parameter name="port" value="4444" />
        <classes>
            <class name="CGMTests.Tests.nhrytsko.tests.LoginPageTestSuite" />
            <class name="CGMTests.Tests.nhrytsko.tests.MainPageTestSuite" />
        </classes>
    </test>
</suite>