<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SmokeTests" parallel="tests">
    <test name="mainPageTests">
        <parameter name="hub" value="localhost" />
        <parameter name="browserName" value="Firefox" />
        <classes>
            <class name="Nhrytsko.WebDriver.Tests.MainPageTestSuite" />
            <class name="Nhrytsko.WebDriver.Tests.LoginPageTestSuite" />
        </classes>
    </test>
</suite>