<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SmokeTests" parallel="tests">
    <test name="IE_Tests">
        <parameter name="hub" value="http://localhost:4444/wd/hub" />
        <parameter name="browserName" value="IE" />
        <classes>
            <class name="Nhrytsko.WebDriver.Tests.LoginPageTestSuite" />
        </classes>
    </test>

    <test name="Firefox_Tests">
        <parameter name="hub" value="localhost" />
        <parameter name="browserName" value="Firefox" />
        <classes>
            <class name="Nhrytsko.WebDriver.Tests.MainPageTestSuite" />
        </classes>
    </test>
</suite>