<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ParallelTests" parallel="tests">
    <test name="Test In FireFox" > 
      <parameter name="browser" value="FF" />
      <classes> 
            <class name="ylysov.ParallelTests.TestsParallel" />
      </classes> 
    </test> 
      <test name="Test In Internet Explorer" > 
        <parameter name="browser" value="IE"></parameter> 
        <classes> 
            <class name="ylysov.ParallelTests.TestsParallel"></class>
        </classes> 
    </test> 
</suite> 


